html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-style: italic;
    font-weight: normal;
    font-family: Calibri, sans-serif;
}
body {
    margin: 0 auto;
    text-align: center;
    background-color: #2D2E32;
}
h1, h2 {
    font-family: SpotCookieRegular, sans-serif;
    color: #ecc053;
    font-size: 3em;
    font-style: normal; 
}
h2 {
    font-size: 60px;
}

ul {
  margin: 0px auto;
  padding-left: 0;
}

/* .....................................STRONA GŁÓWNA........................................... */

.main {
    height: 100vh;
    background-image: url('img/piekarnik_main.jpg');
    box-shadow: 0 0 20px black;
}
.socials {
   text-align: right;
   padding: 40px 30px;
}
.socials img {
    margin-right: 20px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.logo:hover, .logo:focus, .logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-navigation {
  z-index: 1;
}

.main-navigation li {
  display: inline;
  color: white;
  margin: 20px;
  list-style-type: none;
}
.main-navigation li a{
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: SpotCookieRegular, sans-serif;
  font-style: normal;
  font-size: 38px;
}
.main-navigation a:hover {
  color: #ecc053;  
}

.main-text {
  color: white;
}

.main-navigation-mobile {
  display: none;
}

.main h1 {
  font-size: 80px;
  text-shadow: 1px 1px 2px black;
  padding-top: 150px;
}

/* ............NAVBAR AFTER SCROLLING........... */
.scrolling-active {
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(45, 46, 50, 0.8);
  height: 100px;
  padding-top: 20px;
}
.scrolling-active li a {
  font-size: 28px;
}
.scrolling-active .logo {
  width: 10%;
}

/* .....................................O NAS........................................... */
.o-nas {
    margin: 0 auto;
    font-size: 20px;
    background-color: #EDEDED;
}
.o-nas-main {
  display: flex;
  padding: 30px;  
}

.o-nas-header {
    margin: 0;
    padding: 30px ;
}
.o-nas-main p, .o-nas-main img {
    justify-self: start;
    text-align: left;
    margin: 30px;
}
.o-nas-main img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-nas-text {
  padding: 30px;
}

.o-nas-1 {
    transform: rotate(3deg) perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
.o-nas-1:hover {
    transform: scale(1.1);
}
.o-nas-2 {
    transform: rotate(-3deg) perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    margin-top: 20px;   
}
.o-nas-2:hover {
    transform: scale(1.1);
}

.mocne-header {
    display: inline-block
}

.mocne-header-mobile {
    display: none
}
.o-nas-mocne {
  display: flex;
  padding: 0px 30px 50px;
}
.o-nas-mocne li {
    font-size: 18px;
    text-align: left;
    margin: 5px;
}

/* .....................................MENU........................................... */

.menu {
    background-color: #2D2E32;
    color: white;
}

.menu p {
    max-width: 800px;
    margin: 15px auto;
    font-size: 20px;
}
.menu-containter {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.menu-img {
    margin-top: 30px;
    max-width: 1000px;
}
.menu-containter p {
    margin-top: 30px;
}

/* .....................................GALERIA........................................... */
.gallery-containter {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-containter img {
    width: 320px;
    height: 240px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    margin: 10px;
  }
  .gallery-containter img:hover, .gallery-containter img:focus, .gallery-containter img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


/* .....................................KONTAKT........................................... */

footer {
    background-color: #2D2E32;
    color: white;
    margin-top: 50px;
    padding-top: 20px;

}
.footer-container {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px 400px;
    width: 950px;
    margin: 0 auto;
    font-size: 24px;
}
.adres {
    grid-row: 1 / 3;
    text-align: left;
}
.adres img {
    margin: 0px 10px 0 0;
}

.telefon {
    grid-column: 2 / 3;
}
.telefon img, .mail img, .facebook img, .instagram img  {
    margin: 2px 10px 0 0;
}
.adres-dane, .telefon-dane, .mail-dane, .fb-dane, .insta-dane {
  color: white;
  float: right;
}
.mail {
    grid-column: 3 / 4;
}

.godziny {
    grid-column: 1/4;
    grid-row: 3/4;
    place-self: center;
    font-size: 1.3em;
    align-self: start;
}
.mapka {
    grid-column: 1/4;
    grid-row: 4/5;
    place-self: center;
    border: solid 8px white;
    margin-top: 100px;
}
footer p {
    margin-bottom: 0px;
    padding: 30px;
}

.hours-info {
    margin: 0;
    padding: 10px;
}

.iframe {
    width: 800px;
    height: 300px 
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    font-size: 35px;
  }

  .main {
    background-image: url(img/piekarnik_main.jpg);
    box-shadow: 0 0 20px black;
    background-size: contain;
    height: 30vh;
  }

  .main-navigation-mobile {
    display: flex;
    color: white;
  }

  .main-navigation-mobile ul {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: rgb(45, 46, 50, 0.8);
    height: 70px;
    width: 100%;
  }
  
  .main-navigation-mobile li {
    display: inline;
    color: white;
    margin: 5px;
    list-style-type: none;
  }

  .main-navigation-mobile li a {
    color: white;
    text-decoration: none;
    font-family: SpotCookieRegular, sans-serif;
    font-style: normal;
    font-size: 20px;
  }


  .logo-mobile {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
  }

  .main-text {
    display: none;
  }

  .menu {
    padding-bottom: 0px;
  }

  .menu-img {
    margin-top: 10px;
    max-width: 300px;
  }

  .o-nas-container {
      padding: 15px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: 16px;
    width: auto;
  }

  .contact-info {
      margin-top: 7px;
      margin-top: 7px;
      display: flex;
      align-items: center;
  }
  .contact-info--hours {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
  }
  .contact-info--hours p{
      margin: 5px;
      padding: 0px;
  }

  .mapka {
      margin-top: 30px;
  }
  .iframe {
      width: auto;
      height: 300px 
  }

  .mocne-header {
    display: none
  }
  
  .mocne-header-mobile {
    display: inline-block
  }

  .o-nas-main {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .o-nas-header {
    padding: 30px 0 0 0;
  }

  .o-nas-module-1 {
    display: flex;
    flex-direction: column;
  }
  
  .o-nas-module-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .o-nas-main p, .o-nas-main img {
    justify-self: center;
    text-align: center;
    margin: 30px 20px;
  }

  .o-nas-text {
    padding: 10px;
  }

  .socials {
    display: none;
  }

  .main-navigation {
    display: none;
  }
}